.Card {
    display: flex;
    margin: 0 15px;
}

.Card__body {
    padding-top: 30px;
    padding-left: 15px;
}

.Card__body_item {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-top: 70px;
}

.Card__image {
    padding: 0;
}

.Card__size {
    display: flex;
    height: 200px;
    margin-right: 30px;
    align-items: center;
}
.Card__image_mini {
    width: 40px;
}

.Card__title {
    font-size: 18px;
    font-weight: bold;
    color: var(--font-dark);
}

.Card__title_item {
    font-size: 36px;
    line-height: 53px;
    color: var(--font-dark);
}

.Card__text {
    margin-top: 12px;
    line-height: 22px;
}

.Card__text_item {
    font-size: 16px;
    line-height: 25px;
}

.Card__title_margin {
    margin-bottom: 30px;
}

.Card_first {
    display: block;
    margin-right: 30px;
}