.OurProjectBlock {
    width: 100%;
    display: flex;
    background-color: var(--grey); 
}
.OurProjectBlock__container {
    width: 1000px;
    flex-direction: column;
    align-items: center;
}

.OurProjectBlock__header {
    font-size: 36px;
    font-weight: bold;
    color: var(--font-dark);
    line-height: 53px;
    margin-bottom: 30px;
    text-align: center;
}

.OurProjectBlock__subtitle {
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    color: var(--ongrey);
    margin-top: 50px;
    margin-bottom: 70px;
}

.OurProjectBlock__portfolio {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 30px;
}

.OurProjectBlock__button {
    margin-bottom: 50px;
}
