:root {
    --grey: #F6F6F8;
    --font-common: #999999;
    --font-dark: #323232;
    --primary: #4985FF;
    --light: #FFFFFF;
    --hover: #91b6ff;
    --dark-grey: #E0E0E0;
    --black: #000000;
    --ongrey: #999999;
    --opacity-light: rgba(255, 255, 255, 0.3);
}