.ContactsBlock {
    display: flex;  
    flex-direction: column;
}

.ContactsBlock__container {
    display: flex;
    align-items: center;
    background-color: var(--black);
}

.ContactsBlock__header {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--black);
}

.ContactsBlock__card {
    display: flex;
}

.ContactsBlock__cardText {
    font-size: 14px;
    line-height: 22px;
}
